${_sound.name}
<a href="@{controllers.Application.streamFile(_sound.id)}" class="btn btn-primary">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    Reproducir
</a>
#{if _user.email.equals(_sound.user.email)}
    <a href="@{controllers.Application.deleteFile(_sound.id)}" class="btn btn-warning" data-toggle="confirmation" data-original-title="" title="Estas seguro?">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Eliminar
    </a>
#{/if}