#{extends 'main.html' /}
#{set 'title'}&{'waves.home'}#{/set}

<div class="panel panel-primary">
    <div class="panel-heading">
        &{'waves.statistics'}
    </div>
    <div class="list-group">
        <p class="list-group-item">
            <b>&{'waves.friendCount'}:</b><span class="badge">${friendCount}</span>
        </p>
        <p class="list-group-item">
            <b>&{'waves.musicCount'}:</b><span class="badge">${soundCount}</span>
        </p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        &{'waves.friendsOf', user.displayName}
    </div>
    <div class="list-group">
        #{list items:friends, as:'relation'}
            #{if relation.accepted && relation_index < MAX_RECENT_FRIENDS}
                <p href="" class="list-group-item">
                    #{friend user:user, relation:relation /}
                </p>
            #{/if}
        #{/list}
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        &{'waves.musicOwner', user.displayName}
    </div>
    <div class="list-group">
        #{list items:sounds, as:'sound'}
            #{if sound_index < MAX_RECENT_SOUNDS}
                <p class="list-group-item">
                    #{file user:user, sound:sound/}
                </p>
            #{/if}
        #{/list}
    </div>
</div>

