#{extends 'main.html' /}
#{set 'title'}&{'waves.stream', sound.name}#{/set}

#{set 'moreScripts'}
<script>

    (function($){
        var audio = $('#audio');

        audio[0].volume = .20;
        audio[0].play();
    })(jQuery);

</script>
#{/set}

<div class="panel panel-primary">
    <div class="panel-heading text-center">
        ${sound.name}
        <a href="@{controllers.Application.download(sound.id)}" class="btn btn-default">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            &{'waves.download'}
        </a>
    </div>
    <div class="panel-body text-center">
        <audio controls style="width: 100%;">
            <source src="@{controllers.Application.download(sound.id)}" type="audio/mpeg" />
            &{'waves.cantPlay'}
        </audio>
    </div>
</div>